.wrapper {
  background: chocolate;
  padding: 20px 40px;
  height: 100vh;
}
.master-card {
  align-items: center;
  background: cornsilk;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  min-width: 320px;
  height: 500px;
  position: relative;
}
.master-card h3 {
  text-align: center;
}
.btn {
  background: #868151;
  padding: 20px 40px;
}
.cta-solution {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.cta-question {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.viewbox {
  min-width: 320px;
  height: 530px;
  overflow: hidden;
}
